body { /* Color palette: Blue, White, Orange */
    background-color: #1f40d4;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a { /* Unvisited link should be white and wavy underline */
    color:white;
    font-weight: bold;
    text-decoration: underline white wavy;
}
a:visited { /* Visited link should turn orange */
    color: orange;
    text-decoration: wavy;
}

mark { /* should look like post-it note */
    background-color: #FED800;
    border: none;
    border-radius: 5px;
}

header { /* Stick to top */
    background-color: #1f40d4;
    border: solid white 1px;
    border-radius: 15px;
    position: sticky;
    top:0;
    margin: 20px;
    padding: 5px;
    z-index: 1000;
}

header span { /* customized text */
    margin-left: 15px;
    font-family: 'Bitcount Ink';
    font-size: 50px;
}

footer { /* footer should be half-transparent with customized text */
    font-family: 'Bitcount Ink';
    font-size: 16px;
    font-weight: 200;
    opacity: 50%;
    margin: 20px;
}


div.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.object-frame {
    perspective: 1000px;
}

.object {
    width: 10rem;
    padding: 5px;
    border-radius: 0.25rem;

    transform: translateZ(0);
    
    transition: transform 0.6s ease-out; 

    transform-style: preserve-3d;
}

.object:hover {
    transform:
        translateZ(50px) 
        rotateX(10deg) 
        rotateY(-10deg);

    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
}


#About-Me, #Education-Background, #Projects{
    background-color: transparent;
    color: white;
}